//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mmv { time-to-max-speed-ms = <900>; };

/ {
    behaviors {
        lp: Long-Press {
            compatible = "zmk,behavior-hold-tap";
            label = "Long Press";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
         &kp Q           &kp W           &kp E             &kp R        &kp T    &kp Y  &kp U          &kp I             &kp O           &kp P
         &lp LEFT_WIN A  &lp LEFT_ALT S  &lp LEFT_SHIFT D  &lp LCTRL F  &kp G    &kp H  &lp LCTRL J    &lp LEFT_SHIFT K  &lp LEFT_ALT L  &lp LEFT_WIN SEMI
&kp TAB  &kp Z           &kp X           &kp C             &kp V        &kp B    &kp N  &kp M          &kp COMMA         &kp PERIOD      &kp SLASH          &kp ENTER
                                         &kp LEFT_CONTROL  &kp SPACE    &mo 3    &mo 2  &kp BACKSPACE  &kp RIGHT_SHIFT
            >;
        };

        gaming {
            bindings = <
         &kp Q  &kp W  &kp E             &kp R      &kp T    &kp Y   &kp U          &kp I            &kp O       &kp P
         &kp A  &kp S  &kp D             &kp F      &kp G    &kp H   &kp J          &kp K            &kp L       &kp SEMI
&kp TAB  &kp Z  &kp X  &kp C             &kp V      &kp B    &kp N   &kp M          &kp COMMA        &kp PERIOD  &kp SLASH  &kp ENTER
                       &kp LEFT_CONTROL  &kp SPACE  &mo 3    &tog 0  &kp BACKSPACE  &kp RIGHT_SHIFT
            >;
        };

        sym_func {
            bindings = <
       &kp RA(NUMBER_8)  &kp LEFT_BRACKET       &kp BACKSLASH     &kp RIGHT_BRACKET  &kp RA(NUMBER_3)    &none         &kp NUMBER_3  &kp NUMBER_4  &lp RIGHT_BRACKET RA(NUMBER_7)  &kp LS(PERIOD)
       &kp RA(NUMBER_6)  &kp LS(DOUBLE_QUOTES)  &kp RA(NUMBER_2)  &kp EQUAL          &kp LS(EQUAL)       &kp NUMBER_6  &kp NUMBER_5  &kp MINUS     &kp RA(NUMBER_7)                &kp RA(EQUAL)
&none  &none             &none                  &none             &kp NUMBER_1       &kp RA(NUMBER_2)    &kp NUMBER_8  &kp NUBS      &kp LS(NUBS)  &kp RA(NUMBER_5)                &kp RA(MINUS)   &none
                                                &none             &none              &to 0               &trans        &none         &none
            >;
        };

        nav {
            bindings = <
             &kp NUMBER_0  &kp NUMBER_2  &kp UP_ARROW  &kp NUMBER_7  &kp F5    &none   &kp LS(NUMBER_7)  &kp LS(NUMBER_8)  &kp LS(NUMBER_9)  &none
             &kp ESCAPE    &kp LEFT      &kp DOWN      &kp RIGHT     &none     &none   &kp LS(NUMBER_4)  &kp LS(NUMBER_5)  &kp LS(NUMBER_6)  &none
&kp LA(TAB)  &kp LEFT_ALT  &none         &kp CAPS      &none         &none     &none   &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &none  &none
                                         &none         &none         &none     &tog 1  &kp DELETE        &kp LS(NUMBER_0)
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
